

<label for="floatingInput">user_id</label> <br>
<input type="text" id="floatingInput" value="{{this.user_id}}" placeholder="user_id" name="user_id"> <br>

<label for="floatingInput">title</label> <br>
<input type="text" id="floatingInput" value="{{this.title}}" placeholder="title" name="title"> <br>

<label for="content">content</label> <br>
<textarea placeholder="content" id="content" name="content" style="height: 200px">{{this.content}}</textarea> <br>
      

    <button type="submit">Submit</button>
