<link rel="stylesheet" href="/css/style.css" />

<center>
 <br>
	Admin Login
 <br><br><br>
	 <FORM id="login" action="/loginm" method="POST">
		<LABEL for="username"><STRONG>USERNAME</STRONG></LABEL> <br>
		<INPUT type="text" name="username" id="username"> <br> <br>
		<LABEL for="password"><STRONG>PASSWORD</STRONG></LABEL> <br>
		<INPUT type="password" name="password" id="password"> <br> <br>
		<BUTTON type="submit" name="login">LOGIN</BUTTON> <br>
	  </FORM>
	  
 <br><br><br> 
 username : admin <br><br>
 password : admin  
</center>