<a class="nav-link active" aria-current="page" href="/">Home</a>
<a class="nav-link active" aria-current="page" href="/admin/">admin</a>

<form class="d-flex" method="POST" action="/admin/" novalidate>
    <input class="form-control me-2" type="search" placeholder="Search by id or title" name="search" aria-label="Search">
    <button class="btn btn-outline-light" type="submit">Search</button>
</form>


{{#if alert}}
    {{alert}}
{{/if}}

<br>

<big>Edit article</big> <br>

{{#each rows}}
<form method="POST" action="/admin/edituser/{{this.id}}" novalidate> 
  {{> user-form}}
</form>
{{/each}}